<link rel="stylesheet" href="/static/centeredStyle.css" type="text/css" />
{% block body %}

<form action="/createaccount" method="POST">
	<div class="login">
		<div class=logo>
			<img src="/static/images/GameBaseLogo_Transparent.png" alt="Avatar" class="image" height="250" />
		</div>
		<div class="login-screen">
			<div class="app-title">
				<h1>Create Account</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input
						type="text"
						class="login-field"
						value=""
						placeholder="username"
						name="username"
					/>
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				<div class="control-group">
					<input
						type="text"
						class="login-field"
						value=""
						placeholder="mail"
						name="mail"
					/>
					<label class="login-field-icon fui-user" for="login-mail"></label>
				</div>
				<div class="control-group">
					<input
						type="password"
						class="login-field"
						value=""
						placeholder="password"
						name="password"
					/>
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<input
					type="submit"
					value="Create"
					class="btn btn-primary btn-large btn-block"
				/>
			</div>
		</div>
	</div>
</form>
<a href="/">
	<input
		type="submit"
		value="Back to login"
		class="btn btn-primary btn-large btn-block"
		name="create"
	/>
</a>
{% endblock %}

