body {
    font-family: Arial, sans-serif;
    background: url('https://static.vecteezy.com/system/resources/previews/034/324/787/non_2x/dark-cave-game-background-tillable-horizontally-dark-terrible-empty-place-with-rock-lighting-walls-in-side-view-for-2d-games-location-illustration-vector.jpg') no-repeat center center/cover;  /*just for testing*/
    color: rgba(255,255,255,0.8);
    padding: 50px;
    text-align: center; 
}
